html:not(.mobile) {
  body:not(.menu-show) .menu a {
    &:hover {
      color: #3D3BEE;
    }
  }
  body:not(.menu-show) .header-btn-wrap a {
    &:hover {
      color: #3D3BEE;
      border-color: #3D3BEE;
    }
  }
  .btn {
    &:hover {
      background: darken(#3D3BEE, 10%);
      img {
        animation: arrow 1s infinite forwards cubic-bezier(0.43, 0.24, 0.59, 0.71);
      }
    }
  }
  .section-test-top .btn {
    &:hover {
      background: darken(#E8225A, 10%);
    }
  }
  .soc-ico:hover {
    svg {
      fill: #fff;
    }
  }
  body:not(.menu-show) .burger-menu:hover {
    span {
      background: #3D3BEE;
    }
  }
}

body.menu-show {
  .header-nav {
    opacity: 1;
    transform: scaleY(1);
    z-index: 2;
    pointer-events: auto;
  }
}

body.menu-show .burger-menu {
  span {
    background: #fff;
    &:nth-child(1) {
      transform: rotate(45deg) translate(9px, 8px);
    }
    &:nth-child(2) {
      transform: scaleX(0);
    }
    &:nth-child(3) {
      transform: rotate(-45deg) translate(9px, -8px);
    }
  }
}

@keyframes arrow {
  25% {
    transform: translateX(-5px);
  }
  75% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0px);
  }
}