@import "mixins";

@media  only screen and (max-width: 1200px) {
  .section-wireless {
    padding-left: 20px;
    padding-right: 20px;
  }
  .wireless-map-block, .wireless-info-block {
    width: 100%;
  }
  .wireless-prices-list .price {
    @include calcFontSize(860px,1200px,22px,28px);
  }
  .wireless-prices-list .title {
    @include calcFontSize(860px,1200px,12px,16px);
  }
  .section-features, .section-testimonials {
    padding-left: 60px;
    padding-right: 60px;
  }
  .testimonials-slider-wrap {
    width: 87%;
  }
  .testimonials-slider .slide-content {
    padding: 5.5vw 5.1vw 5.2vw;
  }
  .section-test-top {
    width: 100%;
    justify-content: space-between;
  }
  .section-test-top .section-col-right {
    margin-left: auto;
  }
  .section-faq {
    padding-left: 60px;
    padding-right: 60px;
  }
  .faq-table {
    width: 100%;
  }
}
@media  only screen and (max-width: 1060px) {
  .header-nav {
    margin-left: 50px;
  }
}

@media only screen and (max-width: 1024px) {
  .hero-img {
    display: none;
  }
  .hero-section {
    padding-top: 100px;
    padding-bottom: 100px;
    height: auto;
  }
  .hero-section-left {
    width: 50%;
    max-width: none;
    padding-right: 20px;
    h1 {
      @include calcFontSize(320px,1024px,36px,52px);
      margin-bottom: 0.65em;
    }
    p {
      @include calcFontSize(320px,1024px,14px,16px);
      margin-bottom: 2.3em;
    }
  }
  .section-title {
    h2 {
      @include calcFontSize(320px,1024px,36px,52px);
    }
    h3 {
      @include calcFontSize(320px,1024px,24px,32px);
    }
  }
  .hero-section-left .btn {
    width: 250px;
    height: 55px;
    line-height: 55px;
  }
  .btn img {
    width: 15px;
  }
  .section-sim-right .btn {
    width: 360px;
    height: 55px;
    line-height: 55px;
  }
  .section-test-top .btn {
    width: 280px;
    height: 55px;
    line-height: 55px;
  }
  .section-sim {
    padding: 13.5vw 60px;
  }
  .section-sim-left {
    width: 50%;
  }
  .section-sim-right {
    width: 45%;
    margin-left: 5vw;
    ul {
      width: 100%;
      li {
        width: 48%;
        margin-bottom: 25px;
      }
    }
  }
  .section-wireless {
    padding-top: 6vw;
    padding-bottom: 6.5vw;
  }
  .section-features .section-title h2 {
    margin-bottom: 2.5vw;
  }
  .features-tabs {
    margin-bottom: 6vw;
  }
  .features-tab li+li {
    margin-left: 7.5vw;
  }
  .tab-item-title {
    @include calcFontSize(320px,1024px,18px,22px);
    margin-bottom: 0.8em;
  }
  .section-features {
    padding-top: 13vw;
    padding-bottom: 2vw;
  }
  .section-meet {
    padding-top: 13.5vw;
    padding-bottom: 12.5vw;
    padding-left: 60px;
    padding-right: 60px;
  }
  .video-wrap {
    width: 100%;
  }
  .section-meet .section-title {
    margin-bottom: 3.5em;
  }
  .section-testimonials {
    padding-top: 12vw;
    padding-bottom: 18vw;
  }
  .section-test-top {
    margin-bottom: 14vw;
    .section-title {
      margin-bottom: 4.5vw;
      h2 {
        margin-bottom: 0.5em;
      }
    }
  }
  .section-test-top .section-col-right {
    width: 58%;
  }
  .section-faq {
    padding-top: 13vw;
    padding-bottom: 13vw;
  }
}

@media only screen and (max-width: 960px) {
  .header-logo {
    width: 150px;
    height: 27px;
  }
  .header-nav {
    ul {
      li + li {
        margin-left: 25px;
      }
    }
    a {
      font-size: 14px;
    }
  }
  .section-sim {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 40px;
    padding-right: 40px;
    .section-title {
      margin-bottom: 7vw;
    }
  }
  .section-sim-left {
    width: 100%;
    text-align: center;
  }
  .section-sim-text {
    padding-right: 0;
  }
  .section-sim-right {
    width: 420px;
    text-align: center;
    margin-left: 0;
    ul {
      li {
        width: 48%;
        margin-bottom: 25px;
      }
    }
    .ico-wrap {
      margin-left: auto;
      margin-right: auto;
    }
    .btn {
      margin-left: auto;
      margin-right: auto;
    }
  }
  .section-features, .section-meet, .section-testimonials, .section-faq {
    padding-left: 40px;
    padding-right: 40px;
  }
  .testimonials-slider-wrap {
    width: 92%;
  }
  .slider-btn {
    width: 40px;
    height: 40px;
  }
  .swiper-button-next {
    right: -55px;
  }
  .swiper-button-prev {
    left: -55px;
  }
  .testimonials-slider .slide-content {
    padding: 3.5vw 3.1vw 3.2vw;
  }
  .test-info:before {
    width: 40px;
    height: 30px;
  }
  .test-txt p, .test-info span {
    @include calcFontSize(320px,960px,14px,18px);
  }
  .test-txt p {
    line-height: 1.58;
  }
}

@media only screen and (max-width: 860px) {
  .wireless-info-block {
    flex-direction: column;
  }
  .wireless-info-prices {
    width: 100%;
    justify-content: flex-start;
  }
  .wireless-info-countries {
    margin-bottom: 40px;
  }
  .wireless-prices-list .price {
    font-size: 22px;
  }
  .wireless-prices-list .title {
    font-size: 14px;
  }
  .wireless-map-block {
    flex-direction: column;
    align-items: center;
  }
  .wireless-dest-wrap {
    width: 80%;
    margin-bottom: 20px;
    h4 {
      text-align: center;
    }
  }
  .wireless-dest-list {
    justify-content: center;
  }
  .wireless-map-wrap {
    width: 77%;
    height: 36vw;
  }
  .wireless-map-pointer-wrap {
    left: 11%;
    top: 5%;
  }
  .faq-block {
    width: 50%;
  }
  .col-div-1 {
    left: 50%;
  }
  .row-div {
    top: 33.33%;
  }
  .col-div-2 {
    width: 100%;
    height: 1px;
    top: 66.66%;
    left: 0;
  }
}

@media only screen and (max-width: 780px) {
  .header-nav {
    margin-left: 20px;
    ul {
      li + li {
        margin-left: 15px;
      }
    }
  }
  .test-info:before {
    width: 25px;
    height: 20px;
  }
}

@media only screen and (max-width: 700px) {
  .header {
    justify-content: space-between;
  }
  .burger-menu {
    display: block;
    z-index: 10;
  }
  .header-nav {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
    margin-left: 0;
    width: 100%;
    flex-direction: column;
    padding: 80px 0 50px;
    background: #3D3BEE;
    transform: scaleY(0);
    transform-origin: top;
    transition: opacity .2s, transform .6s;
  }
  .header-nav ul {
    flex-direction: column;
    align-items: center;
  }
  .header-nav a {
    font-size: 18px;
  }
  .header-nav ul li+li {
    margin-left: 0;
    margin-top: 15px;
  }
  .header-btn-wrap {
    margin-left: 0;
    margin-top: 30px;
  }
  .footer {
    height: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .footer-left {
    margin-bottom: 20px;
  }
  .footer-right {
    margin-left: 0;
  }
  .menu li {
    transition: opacity .3s, transform .6s;
    &:nth-child(1) {
      transition-delay: .3s;
    }
    &:nth-child(2) {
      transition-delay: .4s;
    }
    &:nth-child(3) {
      transition-delay: .5s;
    }
    &:nth-child(4) {
      transition-delay: .6s;
    }
    &:nth-child(5) {
      transition-delay: .7s;
    }
  }
  .header-btn-wrap {
    transition: opacity .3s, transform .6s;
    transition-delay: .9s;
  }
  body:not(.menu-show) {
    .menu li {
      opacity: 0;
      &:nth-child(even) {
        transition-delay: 0s;
        transform: translateX(50px);
      }
      &:nth-child(odd) {
        transition-delay: 0s;
        transform: translateX(-50px);
      }
    }
    .header-btn-wrap {
      opacity: 0;
      transform: translateY(50px);
      transition-delay: 0s;
    }
  }
}

@media only screen and (max-width: 640px) {
  .hero-section-left {
    width: 60%;
  }
  .hero-section-right {
    width: 55%;
  }
  .features-tab ul {
    flex-direction: column;
    align-items: center;
  }
  .features-tab li {
    width: 80%;
    text-align: left;
    + li {
      margin-left: 0;
      margin-top: 30px;
    }
  }
  .testimonials-slider-wrap {
    width: 75%;
  }
  .section-test-top {
    flex-direction: column;
    align-items: center;
    .section-col-left {
      width: 60%;
      margin-bottom: 8vw;
    }
    .section-col-right {
      width: 100%;
    }
  }
  .faq-block {
    width: 100%;
    + .faq-block {
      &:before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background: #2D3E50;
        opacity: 0.15;
      }
    }
  }
  .block-divider {
    display: none;
  }
}
@media only screen and (max-width: 560px) {
  .section-sim-right {
    width: 100%;
  }
}
@media only screen and (max-width: 480px) {
  .hero-section-right {
    display: none;
  }
  .hero-section-left {
    width: 90%;
  }
  .section-sim {
    padding-left: 20px;
    padding-right: 20px;
  }
  .section-sim-right ul {
    flex-direction: column;
    align-items: center;
    li {
      width: 100%;
      max-width: 280px;
    }
  }
  .section-sim-left p + p {
    margin-top: 10px;
  }
  .section-sim-right .btn {
    width: 280px;
    font-size: 14px;
  }

  .btn {
    padding-left: 15px;
    padding-right: 15px;
  }
  .wireless-dest-wrap {
    width: 100%;
  }

  .wireless-dest-list {
    justify-content: space-between;
  }
  .wireless-dest-list-col+.wireless-dest-list-col {
    margin-left: 20px;
  }
  .wireless-map-wrap {
    width: 100%;
    height: 45vw;
  }
  .wireless-map-pointer-wrap {
    left: 5vw;
    top: -3vw;
  }
  .wireless-prices-list {
    flex-wrap: wrap;
    width: 100%;
    li {
      width: 50%;
      margin-bottom: 20px;
      + li {
        margin-left: 0;
      }
    }
  }
  .dest-col-inner-wrap ul+ul, .wireless-dest-list-col+.wireless-dest-list-col {
    margin-left: 20px;
  }
  .wireless-dest-list a {
    font-size: 13px;
  }
  .wireless-info-countries {
    width: 100%;
  }
  .select2-container--default .select2-selection--single {
    height: 40px;
  }
  .select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 38px;
    font-size: 14px;
  }
  .section-features, .section-meet, .section-testimonials, .section-faq {
    padding-left: 20px;
    padding-right: 20px;
  }
  .features-tab li {
    width: 100%;
  }
  .slider-btn {
    display: none;
  }
  .testimonials-slider-wrap {
    width: 80%;
  }
  .testimonials-slider .swiper-pagination .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
  }
  .testimonials-slider .swiper-pagination {
    bottom: 0;
    margin-bottom: -33px;
  }
  .tab-ico {
    width: 60px;
    height: 60px;
  }
  .footer-left p {
    font-size: 14px;
  }
  .footer-left img {
    width: 45px;
  }
}
@media only screen and (max-width: 380px) {
  .testimonials-slider-wrap {
    width: 100%;
  }
  .section-test-top .btn, .section-sim-right .btn {
    width: 100%;
  }
}