@import 'normalize';
@import 'sections/header';
@import "sections/hero-section";
@import "sections/sim-section";
@import "sections/wireless-section";
@import "sections/features-section";
@import "sections/meet-section";
@import "sections/testimonials-section";
@import "sections/faq-section";
@import "sections/footer";
@import "animations";
@import "media";

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

body {
  color: #000;
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-size: 16px;
  line-height: 1.875;
  font-weight: 400;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

h1, h2, h3, h4, h5, h6 { margin: 0; }

p { margin: 0; }

img {
  width: 100%;
  height: auto;
}
* {
  box-sizing: border-box;
}

button {
  background: none;
  border: none;
  outline: none;
  padding: 0;
}

.page-wrap {
  position: relative;
}

.container {
  padding-left: 60px;
  padding-right: 60px;
  @media only screen and (max-width: 960px) {
    padding-left: 40px;
    padding-right: 40px;
  }
  @media only screen and (max-width: 480px) {
    padding-left: 20px;
    padding-right: 20px;
  }
}

