.section-faq {
  padding: 140px 0;
  .section-title {
    margin-bottom: 70px;
  }
}
.faq-table {
  position: relative;
  width: 1040px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}
.faq-block {
  position: relative;
  width: 33.33%;
  min-height: 252px;
  cursor: pointer;
  padding: 24px 20px;
  background: #fff;
  will-change: height;
  transition: box-shadow 0.6s, height .6s;
  overflow: hidden;
  .faq-block-top {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #fff;
  }
  &:hover {
    overflow: visible;
    .faq-block-top {
      opacity: 0;
      transform: translateY(100%);
      pointer-events: none;
    }
    .faq-num {
      position: absolute;
      transform: scale(0);
      opacity: 0;
      visibility: hidden;
    }
    .faq-question {
      padding: 0;
      text-align: left;
    }
    .faq-block-back {
      opacity: 1;
      transform: scaleY(1);
      pointer-events: auto;
      z-index: 10;
      box-shadow: 0px 10px 40px rgba(204, 215, 232, 0.4019);
    }
  }
}
.faq-num {
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 60px;
  border-radius: 50%;
  box-shadow: 0px 10px 40px rgba(204, 215, 232, 0.4019);
  margin-bottom: 24px;
  font-size: 22px;
  font-weight: 600;
  color: #2D3E50;
  transition: opacity 0.4s, transform .4s
}
.faq-question {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.66;
  color: #2D3E50;
  text-align: center;
  padding: 0px 25px;
}
.faq-block-back {
  position: absolute;
  top: 0;
  left: 0;
  padding: 24px 20px;
  min-height: 100%;
  opacity: 0;
  background: #fff;
  transform: scaleY(0);
  pointer-events: none;
  transform-origin: top;
  transition: opacity 0.3s, transform .6s, box-shadow .6s;
  p {
    font-family: 'Muli', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    color: #2D3E50;
    margin-top: 10px;
    margin-bottom: 15px;
  }
  a {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.87;
    color: #3D3BEE;
    text-transform: capitalize;
  }
}
.block-divider {
  position: absolute;
  background: #2D3E50;
  opacity: 0.15;
  z-index: 0;
}
.col-div-1 {
  width: 1px;
  height: 100%;
  top: 0;
  left: 33.33%;
}
.col-div-2 {
  width: 1px;
  height: 100%;
  top: 0;
  left: 66.66%;
}
.row-div {
  width: 100%;
  height: 1px;
  top: 50%;
  left: 0;
}