.section-features {
  padding-top: 140px;
  padding-bottom: 20px;
  .section-title {
    margin-bottom: 55px;
    h2 {
      margin-bottom: 26px;
    }
  }
}
.features-tabs {
  display: flex;
  justify-content: center;
  margin-bottom: 62px;
  svg {
    fill: #DADADA;
    transition: fill .6s;
  }
  li + li {
    margin-left: 28px;
  }
  li.active {
    .tab-ico {
      background: #3D3BEE;
      box-shadow: 0px 15px 40px rgba(61, 59, 238, 0.3074);
    }
    svg {
      fill: #fff;
    }
  }
  li { cursor: pointer; }
}
html:not(.mobile) {
  .features-tabs li:hover {
    .tab-ico {
      background: #3D3BEE;
      box-shadow: 0px 15px 40px rgba(61, 59, 238, 0.3074);
    }
  }
}
.tab-ico {
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: rgba(255,255,255,0);
  box-shadow: 0px 15px 40px rgba(61, 59, 238, 0);
  transition: background .6s, box-shadow .6s;
}
.tab-1-ico {
  width: 38px;
  height: 38px;
}
.tab-2-ico {
  width: 36px;
  height: 39px;
}
.tab-3-ico {
  width: 34px;
  height: 33px;
}
.features-tabs-wrap {
  position: relative;
}
.features-tab {
  ul {
    display: flex;
    justify-content: center;
  }
  li {
    width: 260px;
    p {
      font-family: 'Muli';
      font-weight: 400;
      font-size: 16px;
      line-height: 1.87;
      color: #2D3E50;
    }
    + li {
      margin-left: 90px;
    }
  }
  &:not(.active) {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
}
.tab-item-title {
  display: block;
  font-family: 'Muli';
  font-weight: 600;
  font-size: 22px;
  line-height: 1.4;
  color: #2D3E50;
  text-transform: capitalize;
  margin-bottom: 24px;
}
.features-tab {
  li {
    transition: opacity .3s, transform .6s;
    &:nth-child(1) {
      transition-delay: .1s;
    }
    &:nth-child(2) {
      transition-delay: .2s;
    }
    &:nth-child(3) {
      transition-delay: .3s;
    }
  }
  &:not(.active) {
    li {
      opacity: 0;
      transform: translateY(-50px);
    }
  }
}