.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 140px;
  background: #080E1F;
}
.footer-left {
  display: flex;
  align-items: center;
  img {
    display: block;
    width: 60px;
    margin-right: 22px;
  }
  p {
    font-family: 'Muli', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    color: #fff;
  }
}
.soc-list {
  display: flex;
  align-items: center;
  li + li {
    margin-left: 19px;
  }
}
.soc-ico {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background: #202635;
  svg {
    fill: #E8225A;
    transition: fill .6s;
  }
}
svg.fb-ico {
  width: 12px;
  height: 23px;
}
svg.tw-ico {
  width: 21px;
  height: 17px;
}
svg.g-plus-ico {
  width: 24px;
  height: 16px;
}
svg.inst-ico {
  width: 21px;
  height: 22px;
}
svg.youtube-ico {
  width: 22px;
  height: 18px;
}