.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  padding: 26px 60px 20px;
  height: 80px;
  color: #fff;
  z-index: 5;
}
.header-logo {
  display: flex;
  width: 200px;
  height: 35px;
  flex-shrink: 0;
  a {
    display: block;
  }
  svg {
    width: 100%;
    height: 100%;
  }
}
.header-nav {
  display: flex;
  align-items: center;
  width: 100%;
  margin-left: 153px;
  ul {
    display: flex;
    li {
      + li {
        margin-left: 35px;
        }
      }
    }
  a {
    font-size: 16px;
    color: #fff;
    font-weight: 600;
    transition: color .6s;
  }
}
.header-btn-wrap {
  width: 100px;
  height: 40px;
  line-height: 36px;

  text-align: center;
  margin-left: auto;
  a {
    display: block;
    text-transform: capitalize;
    border: 1px solid #fff;
    border-radius: 2px;
    transition: color .6s, border-color .6s;
  }
}
.burger-menu {
  display: none;
  position: relative;
  width: 35px;
  height: 25px;
  cursor: pointer;
  span {
    position: absolute;
    left: 0;
    display: block;
    width: 100%;
    height: 1px;
    background: #FFF;
    transition: background .6s, transform .6s;
    &:nth-child(1) {
      top: 0;
    }
    &:nth-child(2) {
      top: 50%;
    }
    &:nth-child(3) {
      bottom: 0;
      top: auto;
    }
  }
}


