.hero-section {
  position: relative;
  display: flex;
  height: 720px;
  background: #080E1F;
  overflow: hidden;
}
.hero-section-left {
  width: 30.5%;
  max-width: 360px;
  align-self: center;
  color: #fff;
  h1 {
    font-size: 52px;
    line-height: 1.15;
    font-weight: 700;
    margin-bottom: 34px;
  }
  p {
    font-size: 16px;
    line-height: 1.56;
    font-family: 'Muli', sans-serif;
    font-weight: 400;
    margin-bottom: 37px;
  }
  .btn {
    width: 300px;
    height: 70px;
    line-height: 70px;
    background: #3D3BEE;
  }
}
.hero-section-right {
  position: absolute;
  top: 0;
  right: 0;
  width: 70%;
  height: 100%;
  margin-left: auto;
}
.hero-img {
  position: absolute;
  left: 12%;
  top: auto;
  bottom: 0;
  z-index: 2;
  img {
    display: block;
  }
}
.hero-circle-wrap {
  position: absolute;
  width: 100%;
  height: 0;
  transform: translate(30%, 150px);
  padding-bottom: 100%;
  border-radius: 50%;
  border: 1px solid #525662;
  box-sizing: content-box;
}
.hero-circle-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 85%;
  height: 0;
  padding-bottom: 85%;
  border-radius: 50%;
  overflow: hidden;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.flag-ico {
  position: absolute;
  width: 60px;
  height: 60px;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #525662;
  background: #080E1F;
  img {
    width: 60%;
  }
}
.flag-1 {
  top: 0;
  left: 50%;
  width: 80px;
  height: 80px;
  transform: translate(-50%, -50%);
  img {
    width: 75%;
    height: 75%;
    box-shadow: 0px 10px 40px rgba(204, 215, 232, 0.4019);
    border-radius: 50%;
    border: 10px solid #fff;
  }
}
.flag-2 {
  top: 14%;
  left: 15%;
}
.flag-3 {
  top: 50%;
  left: 0;
}

.btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  text-transform: capitalize;
  letter-spacing: 0.24px;
  padding-left: 30px;
  padding-right: 20px;
  transition: background .6s;
  img {
    width: 21px;
  }
}