.section-meet {
  padding-top: 140px;
  padding-bottom: 130px;
  .section-title {
    max-width: 420px;
    margin-bottom: 59px;
  }
}
.video-wrap {
  width: 962px;
  margin: auto;
}
.video {
  position: relative;
  &:before {
    content: "";
    position: relative;
    display: block;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
  }
  iframe {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
  }
}