.section-sim {
  display: flex;
  justify-content: center;
  padding: 140px 0;
}
.section-sim-left {
  width: 400px;
  p {
    font-family: 'Muli';
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    color: #2D3E50;
    + p {
      margin-top: 20px;
    }
  }
}
.section-title {
  margin-bottom: 36px;
  h2 {
    font-weight: 700;
    font-size: 52px;
    line-height: 1.15;
    color: #2D3E50;
  }
}
.section-sim-text {
  padding-right: 40px;
}
.section-sim-right {
  width: 420px;
  margin-left: 100px;
  > p {
    font-size: 22px;
    line-height: 1.15;
    font-family: 'Muli', sans-serif;
    font-weight: 600;
    color: #2D3E50;
    margin-bottom: 30px;
    margin-top: 30px;
  }
  .ico-wrap {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: #fff;
    box-shadow: 0px 10px 20px rgba(204, 215, 232, 0.4019);
    margin-bottom: 20px;
    img {
      width: 32px;
    }
  }
  ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 420px;
    margin-bottom: 15px;
    li {
      width: 180px;
      margin-bottom: 35px;
    }
  }
  .btn {
    width: 380px;
    height: 60px;
    line-height: 60px;
    background: #3D3BEE;
    color: #fff;
  }
}
