.section-testimonials {
  padding-top: 140px;
  padding-bottom: 210px;
  background: url('../images/BG.jpg') no-repeat center;
  background-size: cover;
}
.section-test-top {
  width: 960px;
  margin: auto;
  display: flex;
  justify-content: center;
  margin-bottom: 160px;
  .section-col-left {
    width: 42%;
  }
  .section-col-right {
    width: 48%;
    margin-left: 97px;
  }
  .section-title {
    h2 {
      margin-bottom: 30px;
      color: #fff;
    }
    p {
      color: #fff;
    }
    margin-bottom: 50px;
  }
  .btn {
    width: 300px;
    height: 70px;
    line-height: 70px;
    color: #fff;
    background: #E8225A;
    margin: auto;
  }
}
.testimonials-wrap {
  .section-title {
    margin-bottom: 60px;
    h3 {
      color: #fff;
    }
  }
}
.testimonials-slider-wrap {
  width: 960px;
  margin: auto;
  position: relative;
}
.testimonials-slider {
  position: static;
  width: 100%;
  .swiper-slide {
    display: flex;
  }
  .slide-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 65px 61px 60px;
    background: #fff;
  }
  .swiper-pagination {
    bottom: 0;
    margin-bottom: -53px;
    .swiper-pagination-bullet {
      width: 14px;
      height: 14px;

      + .swiper-pagination-bullet {
        margin-left: 26px;
      }
    }
  }
}
.swiper-pagination-bullet {
  background: #A6A5EE;
  opacity: 1;
}
.swiper-pagination-bullet-active {
  background: #E8225A;
}
.test-txt {
  p {
    font-family: 'Muli', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.78;
    color: #2D3E50;
  }
  margin-bottom: 40px;
}
.test-info {
  position: relative;
  display: flex;
  align-items: center;
  margin-top: auto;
  &:before {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 60px;
    height: 50px;
    background: url('../images/quotes.svg') no-repeat center;
    background-size: contain;
  }
  img {
    display: block;
    width: 60px;
    height: auto;
    border-radius: 50%;
    margin-right: 20px;
  }
  span {
    font-family: 'Muli', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.67;
    color: #2D3E50;
  }
}
svg.slider-arrow {
  width: 21px;
  height: 14px;
  fill: #E8225A;
}
.slider-btn {
  background: #fff;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  &.swiper-button-disabled {
    opacity: 1;
    svg {
      fill: #DADADA;
    }
  }
}
.swiper-button-prev {
  left: -100px;
}
.swiper-button-next {
  right: -100px;
}
