.section-wireless {
  padding: 80px 0px 75px;
  .section-title {
    h3 {
      margin-bottom: 24px;
    }
  }
}
.wireless-map-block {
  width: 1145px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.wireless-dest-wrap {
  width: 38%;
  h4 {
    font-family: 'Muli', sans-serif;
    font-weight: 600;
    font-size: 22px;
    line-height: 1.36;
    color: #6D7986;
    margin-bottom: 25px;
  }
}
.section-title {
  max-width: 640px;
  margin: auto;
  text-align: center;
  margin-bottom: 74px;
  h3 {
    font-size: 32px;
    line-height: 1.25;
    font-weight: 600;
    color: #2D3E50;
  }
  p {
    font-size: 16px;
    line-height: 1.87;
    color: #2D3E50;
    font-family: 'Muli', sans-serif;
    font-weight: 400;
  }
}
.wireless-map-wrap {
  position: relative;
  width: 62%;
  background: url('../images/Bitmap.png') no-repeat center top;
  background-size: contain;
  z-index: -1;
}
.wireless-dest-list, .wireless-info-block {
  display: flex;
  h5 {
    font-size: 13px;
    font-weight: 500;
    line-height: 1.54;
    text-transform: uppercase;
    color: #6D7986;
    opacity: 0.7964;
    margin-bottom: 8px;
  }
  a {
    font-size: 16px;
    line-height: 1.87;
    font-family: 'Muli', sans-serif;
    font-weight: 400;
    color: #2D3E50;
  }
}
.wireless-dest-list-col {
  display: flex;
  flex-direction: column;
  ul + h5 {
    margin-top: 20px;
  }
  + .wireless-dest-list-col {
    margin-left: 60px;
  }
}
.dest-col-inner-wrap {
  display: flex;
  ul + ul {
    margin-left: 60px;
  }
}
.wireless-map-pointer-wrap {
  position: absolute;
  left: 18%;
  top: 10%;
}
.wireless-map-pointer {
  position: relative;
  padding: 10px 16px;
  background: #3D3BEE;
  border-radius: 2px;
  &:before {
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border-color: transparent #3D3BEE transparent #3D3BEE;
    top: 100%;
    left: 15%;
    border-style: solid;
    border-width: 0 0 10px 10px;
  }
}
.wireless-map-pointer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.map-pointer-title {
  font-size: 14px;
  line-height: 1.43;
  font-family: 'Muli', sans-serif;
  font-weight: 600;
  color: #fff;
}
.map-pointer-info {
  font-size: 14px;
  line-height: 1.43;
  font-family: 'Muli', sans-serif;
  font-weight: 400;
  color: #C5C4F9;
}
.select-hint {
  font-family: 'Muli', sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.54;
  color: #6D7986;
  margin-top: 10px;
}
.wireless-info-block {
  width: 1145px;
  margin: auto;
  margin-top: 55px;
}
.wireless-info-countries {
  width: 340px;
  display: flex;
  flex-direction: column;
}
.wireless-info-prices {
  width: calc(100% - 340px);
  display: flex;
  justify-content: center;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  font-family: 'Muli';
  font-weight: 400;
  line-height: 48px;
  color: #2D3E50;
}
.select2-container .select2-selection--single {
  height: 50px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 50px;
}
.select2-container--default .select2-selection--single {
  border: 1px solid #ECEEF3;
  border-radius: 2px;
}

.wireless-prices-list {
  display: flex;
  li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    + li {
      margin-left: 50px;
    }
    img {
      width: 33px;
    }
  }
  .price {
    font-size: 28px;
    line-height: 1.43;
    font-weight: 500;
    color: #242424;
    margin-top: 8px;
  }
  .title {
    font-family: 'Muli';
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    color: #6D7986;
    margin-top: 5px;
  }
}